include README.md
include LICENSE
include pyproject.toml
include setup.py
recursive-include iemm *.py
recursive-include iemm py.typed
recursive-include tests *.py
global-exclude __pycache__
global-exclude *.py[cod]
